body {font-family: verdana, arial, helvetica, sans-serif}
table {border-bottom: 2px solid gray; border-collapse: collapse; }
td, th {border: 1px solid gray; padding: 3px; vertical-align: top}
tr {border: 2px gray; border-style: none solid;}
th {border-bottom: 2px solid gray; border-top: 2px solid gray;}
tr.header, tr.header td {border-style: none;}
tr.topline, tr.topline td {border-top-style: solid;}
tr.header h3 {margin-top:1em; margin-bottom:0em;}