10	1!¹¡
11	2"²⅛
12	3§³£
13	4$¼¤
14	5%½⅜
15	6&¬⅝
16	7/{⅞
17	8([™
18	9)]±
19	0=}°
20	ß?\¿
21	´`¸˛
24	qQ@Ω
25	wWłŁ
26	eE€€
27	rR¶®
28	tTŧŦ
29	zZ←¥
30	uU↓↑
31	iI→ı
32	oOøØ
33	pPþÞ
34	üÜ¨˚
35	+*~¯
38	aAæÆ
39	sSſẞ
40	dDðÐ
41	fFđª
42	gGŋŊ
43	hHħĦ
44	jJ̣˙
45	kKĸ&
46	lLłŁ
47	öÖ˝̣
48	äÄ∼ˇ
49	^°′″
51	#'’˘
52	yY»›
53	xX«‹
54	cC¢©
55	vV„‚
56	bB“‘
57	nN”’
58	mMµº
59	,;·×
60	.:…÷
61	-_–—
94	<>|¦

˘	AĂaăEĔeĕGĞgğIĬiĭOŎoŏUŬuŭ
˙	CĊcċEĖeėGĠgġIİiıZŻzżAȦaȧOȮoȯBḂbḃDḊdḋFḞfḟHḢhḣMṀmṁNṄnṅPṖpṗRṘrṙSṠsṡTṪtṫWẆwẇXẊxẋYẎyẏſẛjȷLĿlŀ
¸	CÇcçGĢgģKĶkķLĻlļNŅnņRŖrŗSŞsşTŢtţEȨeȩDḐdḑHḨhḩ¢₵
˚	AÅaåUŮuůwẘyẙ
˛	AĄaąEĘeęIĮiįUŲuųOǪoǫ
¨	AÄEËIÏOÖUÜaäeëiïoöuüyÿYŸ'̈́HḦhḧWẄwẅXẌxẍtẗ
˝	OŐoőUŰuű
`	AÀEÈIÌOÒUÙaàeèiìoòuùÜǛüǜNǸnǹWẀwẁYỲyỳΩῺVǛvǜ
̣	BḄbḅDḌdḍHḤhḥKḲkḳLḶlḷMṂmṃNṆnṇRṚrṛSṢsṣTṬtṭVṾvṿWẈwẉZẒzẓAẠaạEẸeẹIỊiịOỌoọUỤuụYỴyỵ+⨥-⨪=⩦̣̣
∼	AÃNÑOÕaãnñoõIĨiĩUŨuũVṼvṽEẼeẽYỸyỹÖṎöṏ=≃<≲>≳
^	2²3³1¹AÂEÊIÎOÔUÛaâeêiîoôuûCĈcĉGĜgĝHĤhĥJĴjĵSŜsŝWŴwŵYŶyŷZẐzẑ0⁰4⁴5⁵6⁶7⁷8⁸9⁹+⁺=⁼(⁽)⁾-⁻
ˇ	CČcčDĎdďEĚeěLĽlľNŇnňRŘrřSŠsšTŤtťZŽzžAǍaǎIǏiǐOǑoǒUǓuǔÜǙüǚGǦgǧKǨkǩjǰHȞhȟ(₍)₎+₊-₋0₀1₁2₂3₃4₄5₅6₆7₇8₈9₉=₌VǙvǚ
´	AÁEÉIÍOÓUÚYÝaáeéiíoóuúyýCĆcćLĹlĺNŃnńRŔrŕSŚsśZŹzźÜǗüǘGǴgǵÆǼæǽøǿΩΏKḰkḱMḾmḿPṔpṕWẂwẃVǗvǘ
